<div id="mission">
<h1 class="text-center"><span>Mission</span></h1>
  <ul>
    <li>
      <img src="./app/images/idea.png" alt="idea">
      To become the flexible team-players
    </li>
    <li>
      <img src="./app/images/idea.png" alt="idea">
      To create the team free from any kind of competition
    </li>
    <li>
      <img src="./app/images/idea.png" alt="idea">
      To have fun while studying
    </li>
    <li>
      <img src="./app/images/idea.png" alt="idea">
      To finish our Project with limited budget and scheduled deadline
    </li>
    <li>
      <img src="./app/images/idea.png" alt="idea">
      To bring innovation and inspiration into project developing and team-building
    </li>
    <li>
      <img src="./app/images/idea.png" alt="idea">
      To obtain skills and knowledge needed for building our career with SoftServe
    </li>
  </ul>
  <img src="./app/images/done.png" alt="done">
</div>
