<div id="container">
        <div id="title">
      <h1>
        Welcome to the Auction Fury
      </h1>
      <p>
        This application was created on the basis of tender auctions. Where you can participate in a transparent bidding and conclude agreements with suppliers. <a ui-sref="main.about.project">Learn more</a>
     </p>
     </div>
</div>
<div class="fullscreen-bg">
  <video loop muted autoplay class="fullscreen-bg__video">
    <source src="app/videos/purrificat.ogv" type='video/ogg; codecs="theora, vorbis"'>
    <source src="app/videos/purrificat.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
    <source src="app/videos/purrificat.webm" type='video/webm; codecs="vp8, vorbis"'>
  </video>
</div>
