<div id="team">
  <h1 class="text-center"><span translate="OurTeamConsists"></span></h1>
<div class="team col-md-3">
  <img src="./app/images/t.jpg" alt="romant">
  <p class="text-center">
    <strong translate="Roman"></strong><br>
    <span translate="BackEnd"></span>
  </p>
</div>
<div class="team col-md-3">
  <img src="./app/images/vlad.jpg" alt="romant">
  <p class="text-center">
    <strong translate="Vlad"></strong><br>
    <span translate="FrontEnd"></span>
  </p>
  </div>
<div class="team col-md-3">
  <img src="./app/images/m.jpg" alt="mar">
  <p class="text-center">
    <strong translate="Maryana"></strong><br>
    <span translate="Teacher"></span>
  </p>
</div>
<div class="team col-md-3">
  <img src="./app/images/o.jpg" alt="">
  <p class="text-center">
    <strong translate="OlehM"></strong><br>
    <span translate="ExpertAsiistant"></span>
  </p>
</div>
<h1 class="text-center"><span translate="BasicTeam"></span></h1>
<div class="team col-md-4">
  <img src="./app/images/orest.jpg" alt="orest">
  <p class="text-center">
    <strong translate="Orest"></strong><br>
    <span translate="Student"></span>
  </p>
</div>
<div class="team col-md-4">
  <img src="./app/images/nazar.jpg" alt="nazar">
  <p class="text-center">
    <strong translate="Nazar"></strong><br>
    <span translate="Student"></span>
  </p>
  </div>
<div class="team col-md-4">
  <img src="./app/images/ivan.jpg" alt="ivan">
  <p class="text-center">
    <strong translate="Ivan"></strong><br>
    <span translate="Student"></span>
  </p>
</div>
<div class="team col-md-4">
  <img src="./app/images/oleg.jpg" alt="oleg">
  <p class="text-center">
    <strong translate="OlehS"></strong><br>
    <span translate="Student"></span>
  </p>
</div><div class="team col-md-4">
  <img src="./app/images/roman.jpg" alt="romant">
  <p class="text-center">
    <strong translate="RomanK"></strong><br>
    <span translate="Student"></span>
  </p>
</div>
<div class="team col-md-4">
  <img src="./app/images/taras.jpg" alt="taras">
  <p class="text-center">
    <strong translate="Taras"></strong><br>
    <span translate="Student"></span>
  </p>
  </div>


</div>
