
<div id="contact" class="container" >
  <h1 class="text-center">CONTACT</h1>
  <div class="col-md-6">
    <h3>Contact Information:</h3>
    <div class=" col-sm-offset-1 form-group">
      <span class="glyphicon glyphicon-map-marker"></span>
      <label class="control-label">Address: </label> Ukraine, Lviv, Fedkovycha str. 60a
    </div>
    <div class=" col-sm-offset-1 form-group">
      <span class="glyphicon glyphicon-envelope"></span>
      <label class="control-label">Email: </label> auction.fury.ad@gmail.com
    </div>
    <div class=" col-sm-offset-1 form-group">
      <span class="glyphicon glyphicon-phone"></span>
      <label class="control-label">Phone: </label> +38 (063) 000 00 00, +38 (096) 000 00 00
    </div>
    <h3>Write to us:</h3>
    <form action="https://formspree.io/auction.fury.ad@gmail.com"
          method="post"
          class=" col-sm-offset-1 col-sm-10">
      <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="Full Name">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <textarea class="form-control" rows="3" name="message" placeholder="Message"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-default" value="Send Message">
        <input type="hidden" name="_next" value="//52.42.90.48/home">
    </div>
    </form>
  </div>
  <div class="col-md-6 text-center">
    <div id="map" ng-init="$ctrl.location()"></div>
  </div>
</div>

